<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/signin.css" />
</head>
<body>
    <form>
        <div class="logo"></div>
        <label>Username</label>
        <input type="text" name="username" required />
        <label>Password</label>
        <input type="password" name="password" required />
        <small class="forgot-pwd">Forgot password?</small>
        <input type="submit" value="Sign In" />
        <small><div>Don't have an account?</div><br/><a href="/">Sign up</a></small>
    </form>
</body>
</html>